<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mktusers/

    # Permite acceso directo a los recursos existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todas las solicitudes no a archivos ni directorios existentes a index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
